
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Niconne&display=swap');

/* vp-sans ------------------------------------------------------------ */
:root {
	--vp-sans: 'vp-sans';
} 
@font-face {
	font-family: vp-sans;
  src: local(".AppleSystemUIFont"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("HelveticaNeue")
}


/* vp-serif ------------------------------------------------------------ */
:root {
	--vp-serif: 'vp-serif';
}
@font-face {
  font-family: 'vp-serif';
  src: local('Cambria'),
       local('Hoefler Text'),
       local('Utopia'),
       local('Liberation Serif'),
       local('Nimbus Roman No9 LTR'),
       local('serif'); /* Generic fallback */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; /* Optional: character set subset */
}


/* vp-fancy ------------------------------------------------------------ */
:root {
	--vp-fancy: "Niconne", cursive;
}


/* vp-tech ------------------------------------------------------------ */
:root {
	--vp-tech: "Chakra Petch", sans-serif;
}
